SportsDraftRoom/.vs
SportsDraftRoom/SportsDraftRoom/obj
SportsDraftRoom/SportsDraftRoom/bin
SportsDraftRoom/SportsDraftRoom.Data/bin
SportsDraftRoom/SportsDraftRoom.Data/obj
SportsDraftRoom/SportsDraftRoom.Repo/obj
SportsDraftRoom/SportsDraftRoom.Service/obj
SportsDraftRoom/testingreactprojectclasslibraryfromvs/obj
SportsDraftRoom/SportsDraftRoom.Service/bin
SportsDraftRoom/SportsDraftRoom.Repo/bin
SportsDraftRoom/SportsDraftRoom.Shared/bin
SportsDraftRoom/SportsDraftRoom.Shared/obj
SportsDraftRoom/SportsDraftRoom.UI/bin
SportsDraftRoom/SportsDraftRoom.UI/obj
