SportsDraftRoom/.vs
SportsDraftRoom/SportsDraftRoom/obj
SportsDraftRoom/SportsDraftRoom/bin
SportsDraftRoom/SportsDraftRoom.Data/bin
SportsDraftRoom/SportsDraftRoom.Data/obj
SportsDraftRoom/SportsDraftRoom.Repo/obj
SportsDraftRoom/SportsDraftRoom.Service/obj
SportsDraftRoom/testingreactprojectclasslibraryfromvs/obj
